@charset "UTF-8";

/*** base ***/

@page {
  margin: 5mm 0 0 0;
}

* {
  box-sizing: border-box;
}

:root {
  font-family: "HGP教科書体";
  font-size: 18px;
}

body {
  width: 100%;
  display: flex;
  justify-content: center;
}

main {
  width: 650px;
  position: relative;
}

/*** template ***/

.narrow {
  height: 1.2rem;
  padding-left:  5px;
  padding-right: 5px;
  position: relative;
}

.wide {
  height: 2.0rem;
  position: relative;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*** photo ***/

.photo {
  height: 120px;
  width: 100px;
  padding: 10px 5px;
  position: absolute;
  top: 20px;
  right: 100px;
  border: 1px dashed black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 0.55rem;
}

.photo-details > ol {
  margin: 0;
  padding-left: 10px;
}

.photo-details .splitted > div {
  display: flex;
  justify-content: space-between;
}

/*** header ***/

header {
  margin-bottom: 0.5rem;
  height: 2.0rem;
  width: 380px;
  position: relative;
  justify-content: space-between;
  align-items: flex-end;
}

header > .title {
  margin: 0;
  font-size: 2rem;
}

header > .date {
  height: 1rem;
  position: absolute;
  right: 0;
  bottom: 0;
}

/*** core profile ***/

.coreprof {
  width: 380px;
  border-top:   2px solid black;
  border-left:  2px solid black;
  border-right: 2px solid black;
}

.coreprof > .narrow:first-child {
  border-bottom: 1px solid black;
}

.coreprof > .wide {
  border-bottom: 2px solid black;
}

.coreprof > .detail {
  height: 1.5rem;
  position: relative;
  display: flex;
  font-size: 1.1rem;
}

.coreprof > .detail > span {
  height: inherit;
  text-align: center;
}

.coreprof > .detail > span:first-child {
  border-right: 2px solid black;
  flex-grow: 7;
}

.coreprof > .detail > span:last-child {
  flex-grow: 3;
}

/*** contact ***/

.contact {
  width: inherit;
  border: 2px solid black;
  display: flex;
}

.contact > .address {
  border-right: 2px solid black;
  flex-grow: 7;
}

.contact > .address > .narrow:first-child {
  border-bottom: 1px solid black;
  display: flex;
}

.contact > .address > .narrow:first-child > span:first-child {
  width: 4rem;
}

.contact > .address > .narrow:first-child > span:last-child {
  width: 20rem;
  text-align: center;
}

.contact > .phone {
  flex-grow: 3;
}

.contact > .phone > .number {
  height: 3.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

/*** records ***/

table.records {
  margin-top: 10px;
  border: solid black 2px;
  border-collapse: collapse;
}

.records col.year {
  width: 80px;
  border-right: 1px solid black;
}

.records col.month {
  width: 50px;
  border-right: 2px solid black;
}

.records col.content {
  width: 520px;
}

.records td:nth-child(1) {  /* col.year */
  text-align: center;
}

.records td:nth-child(2) {  /* col.month */
  text-align: center;
}

.records td:nth-child(3) {  /* col.content */
  padding-left:  1rem;
  padding-right: 1rem;
  text-align: left;
}

.records tr {
  height: 1.5rem;
}

.records thead > tr {
  border-bottom: 2px solid black;
}

.records thead > tr > th {
  font-weight: normal;
}

.records tbody tr {
  border-bottom: 1px solid black;
}

.records tbody tr.subheader td:nth-child(3) {
  text-align: center;
}

.records tbody tr.endsymbol td:nth-child(3) {
  position: relative;
  left: 400px;
}

/*** motive ***/

.motive {
  margin-top: 10px;
  border: 2px solid black;
}

.motive > .list {
  margin: 10px 0 10px 0;
  padding: 0 20px 0 20px;
  position: relative;
  font-family: "Times New Roman", "HGP教科書体";
}

.motive > .list > span {
  font-weight: bold;
}

.motive > .list > ul {
  margin: 5px 0 5px 0;
  padding: 0;
  list-style-position: inside;
}
